* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
  height: 4.5em;
  background-color: #2196F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__flexcenter {
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flexgrow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button {
  border: none;
  padding: 0 1rem;
  background-color: transparent;
  height: 100%;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.active {
  background-color: #2145F3;
}

.error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  width: 100%;
}

.error-message__block {
  color: black;
  text-align: center;
}

.loading {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0 3rem 0;
}

main {
  margin: 3.42em 4.42em;
}

.content__cats {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.content__cats--array {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cat__block {
  width: 225px;
  height: 225px;
  margin-right: 3.42em;
  margin-bottom: 3.71em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.73em 1.35em;
}

.cat__block--button {
  display: none;
  width: 2.85em;
  height: 2.62em;
  background-image: url("./add_to_favourite.svg");
  z-index: 2;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.cat__block--button:hover {
  background-image: url("./add_to_favourite_hover.svg");
}

.favourite {
  display: none;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.favourite__empty-message {
  display: block;
}

.content__favourite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fav__block {
  width: 225px;
  height: 225px;
  margin-right: 3.42em;
  margin-bottom: 3.71em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.73em 1.35em;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.added__message {
  width: 100%;
  height: 100%;
  color: cadetblue;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */